body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    text-align: center;
    padding: 20px;
    width: 100%;
    max-width: 600px; /* Limita el ancho máximo */
    box-sizing: border-box;
}

h1, h2 {
    font-size: 1.8em; /* Ajustado para pantallas pequeñas */
    color: #333;
}

.buttons {
    margin-top: 20px;
}

.btn {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 1.2em; /* Ajustado para pantallas pequeñas */
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    width: 100%; /* Ocupa todo el ancho disponible */
    max-width: 250px; /* Ancho máximo de cada botón */
    height: 60px; /* Ajustado para pantallas pequeñas */
}

.triste {
    background-color: #2844fce7;
}

.enojada {
    background-color: #df0101;
}

.preocupada {
    background-color: #8e17d3;
}

.desmotivada {
    background-color: #eb693a;
}

.aburrida {
    background-color: #1692e4;
}

.estresada {
    background-color: #ff9b05;
}

.ansiosa {
    background-color: #0da57f;
}

.feliz {
    background-color: #58ba28;
}

.emocionada {
    background-color: #eb1757;
}

.tranquila {
    background-color: #b869f8;
}

.hot {
    background-color: #df0195;
}

.drunkanddrug {
    background-color: #0b16a5;
}

.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.frase-container {
    display: none;
    margin-top: 20px;
    animation: fadeIn 0.5s;
}

#frase {
    font-size: 1.5em; /* Ajustado para pantallas pequeñas */
    color: #292929;
}

.volver-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.2em; /* Ajustado para pantallas pequeñas */
    color: white;
    background-color: #434343;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    width: 100%; /* Ocupa todo el ancho disponible */
    max-width: 250px; /* Ancho máximo del botón de volver */
    height: 60px; /* Ajustado para pantallas pequeñas */
}

.volver-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
