body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    padding: 40px;
}

h1, h2 {
    font-size: 2.5em;
    color: #333;
}

.buttons {
    margin-top: 40px;
}

.btn {
    padding: 15px 25px;
    margin: 10px;
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 2em;
    cursor: pointer;
    transition: transform 1s, box-shadow 1s;
    width: 300px;  
    height: 75px;  
}

.feliz {
    background-color: #58ba28;
}

.triste {
    background-color: #2844fce7;
}

.enojado {
    background-color: #df0101;
}

.preocupado {
    background-color: #8e17d3;
}

.desmotivado {
    background-color: #eb693a;
}

.btn:hover {
    transform: scale(1.1);
    box-shadow: 1 5px 15px rgba(0, 0, 0, 0.2);
}

.frase-container {
    display: none;
    margin-top: 20px;
    animation: fadeIn 0.5s;
}

#frase {
    font-size: 2em;
    color: #292929;
}

.volver-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 2em;
    color: white;
    background-color: #434343;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: transform 1s, box-shadow 1s;
    width: 300px;  
    height: 75px;
}

.volver-btn:hover {
    transform: scale(1.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
